### Settings for DB
POSTGRES_HOST=localhost
POSTGRES_DB=smart-chess
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345

### Settings for Redis
REDIS_HOST=localhost
REDIS_PORT=6379

PORT=3000

JWT_SECRET=88f66192c3fd4d31ae023ec51502c707888cce36f8ab17a05eb12c8f2a045932
